// colors.scss

// Цвета фона
$background-color: #d5dbe5; // светло-серый фон экрана
$sidebar-background-color: #ffffff; // фон сайдбара
$button-color: rgba(255, 255, 255, 0); // цвет фона кнопки в развернутом сайдбаре по умолчанию
$button-hover-color: #f0f1f4; // цвет фона кнопки при наведении
$button-active-color: #efebf2; //цвет фона кнопки при активации

// Цвета текста
$text-color: #333333; // основной цвет текста
$active-text-color: rgb(8, 8, 173); // цвет текста активной кнопки в развернутом сайдбаре и цвет фона всплывающего текста в свернутом сайдбаре
$text-color-closed: white; //цвет всплывающего текста в свернутом сайдбаре

// Цвета тени и рамки
$box-shadow-outer: rgba(0, 0, 0, 0.2); // первая тень (внешняя)
$box-shadow-inner: white; // первая внутренняя тень с белым цветом
$box-border: #ddd; // вторая внутренняя тень с  цветом рамки
$hr-border: #f4f2f2; // цвет разделительной линии