// sidebar.scss

@import 'colors';
@import 'sizes';

@mixin transition($properties, $duration: 0.3s, $timing-function: ease) {
	transition: $properties $duration $timing-function;
}

@mixin cursor {
	cursor: url('path/to/white-pointer.png'), pointer;
}

// Стили сайдбара
.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: $sidebar-width-closed;
	height: $sidebar-height;
	background-color: $sidebar-background-color;
	border: 1px solid $box-border;
	box-shadow: 0 0 5px $box-shadow-outer, 0 0 0 2px $box-shadow-inner,
		0 0 0 3px $box-border;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include transition(all);
	box-sizing: border-box;

	&.opened {
		width: $sidebar-width-opened;
	}
}

// Стили блока лого
.logo-container {
	position: relative;
	height: $logo-container-height;
	padding: 6px;
	font-size: 0.6rem;
	font-weight: bold;
	color: $active-text-color;

	img {
		height: 25px;
		margin-right: 0;
	}

	span {
		opacity: 0;
		@include transition(opacity);
	}

	.colored-circles {
		margin-bottom: 8px;
	}

	.wrapper-logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 18%;
	}

	// Обертка и кнопка для открытия/закрытия боковой панели
	.wrapper-round-button {
		position: absolute;
		right: -33px;
		width: 1.7rem;
		text-align: end;
		z-index: 1;
	}

	.round-button {
		width: 0.9rem;
		height: 0.9rem;
		border-radius: 50%;
		background-color: $sidebar-background-color;
		@include cursor;
		border: none;
		font-size: 0.5rem;
		color: $text-color;
		@include transition(color);
		z-index: 1;
	}

	// Стили блока лого в развернутом сайдбаре
	&.opened {
		padding: 6px 10px;

		img {
			margin-right: 5px;
		}

		span {
			opacity: 1;
			@include transition(opacity, 0.5s);
		}

		.wrapper-logo {
			padding-left: 0;
		}

		.wrapper-round-button {
			right: -13px;
		}

		.round-button.opened {
			background-color: $background-color;

			&:hover::before {
				content: 'SHRINK';
				font-size: 0.45rem;
				position: absolute;
				left: 65%;
				top: 50%;
				transform: translateX(60%) translateY(-50%);
				white-space: nowrap;
				overflow: hidden;
				direction: rtl;
				width: 0;
				opacity: 1;
				animation: runningText 1s forwards;
			}

			@keyframes runningText {
				50% {
					width: 100%;
				}
				100% {
					width: 100%;
				}
			}
		}
	}
}

// Стили основных и дополнительных навигационных элементов (кнопок
.navigation-elements {
	width: $button-width-closed;
	height: $button-width-closed;
	margin: 5px auto;
	padding: 7px 10px;
	background: none;
	border: none;
	font-size: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 10px;
	@include transition(background-color, color, font-weight);
	color: $text-color;
	box-sizing: border-box;
	@include cursor;

	// Текст титула кнопок
	span {
		margin-left: 10px;
		padding: 2px 0;
		color: $text-color;
		opacity: 0;
		@include transition(opacity);
	}

	// Прозрачная кнопка в фокусе
	&:hover {
		background-color: $button-hover-color;
		font-weight: bold;
		span {
			margin-left: 8px;
			padding: 2px 6px;
			background-color: $active-text-color;
			color: $text-color-closed;
			border-radius: 10px;
			opacity: 1;
		}
	}

	// Кнопка в развернутом сайдбаре
	&.opened {
		width: $button-width-opened;

		span {
			opacity: 1;
			@include transition(opacity, 0.5s);
		}

		&:hover {
			background-color: $button-hover-color;
			font-weight: bold;
			span {
				margin-left: 10px;
				padding: 2px 0;
				background-color: $button-color;
				color: $text-color;
				opacity: 1;
			}
		}
	}

	// Активная кнопка
	&.active {
		background-color: $button-active-color;
		color: $active-text-color;
		font-weight: bold;

		&.opened span {
			color: $active-text-color;
		}
	}
}

// Дополнительные стили
.sidebar hr {
	border: 0.1px solid $hr-border;
	width: 100%;
}

.wrapper {
	max-height: 50%;
}

.profile-block {
	height: 25px;
	color: $text-color;
	font-size: 0.5rem;
	text-align: center;
}
