// Размеры
$sidebar-width-opened: 165px; // ширина открытого сайдбара
$sidebar-width-closed: 50px; // ширина свернутого сайдбара
$sidebar-height: 600px; // высота сайдбара
$logo-container-height: 65px; // высота блока логотипа
$button-width-opened: 80%; // ширина кнопок в сайдбаре
$button-width-closed: 60%; // ширина кнопок в сайдбаре
